<app-navbar></app-navbar>
<div class="box-carousel">  
  <ngb-carousel
    #carousel
    [interval]="2000"
    [pauseOnHover]="pauseOnHover"
    (slide)="onSlide($event)"
  >
    <ng-template ngbSlide *ngFor="let filme of filmes; index as i">
      <div class="carousel-caption">
        <h3>{{filme.title}}</h3>
      </div>
      <a
       [routerLink]="['/details',filme.id]"
        target="_self"
        rel="nofollow noopener noreferrer"
      >
        <div class="picsum-img-wrapper">
          <img class="image-carossel" [src]="'https://image.tmdb.org/t/p/w400' + filme.poster_path" alt="Popularidade: {{ filme.popularity }}" />
        </div>
      </a>
    </ng-template>
  </ngb-carousel>
</div>
